body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/bckg.jpg");
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

#gameOverScreen {
    display: none;
    color: aqua;
    font-size: large;
    /* At game over both images move up in absolute */
    position:static;
    top: auto; left: auto;

}

#fightingSpace {
    display: flex;
    flex-direction: row;
}

#title,
#playerTurn {
    color: aqua;
}

#p1,
#p2,
#health {
    color: rgba(236, 12, 12, 0.7);
}
.player {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 45em;
}

.healthSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
}

.inactive {
    background-color: grey;
}

.active {
    background-color: red;
}

.idle {
    height: 350px;
    width: 350px;
    background-color: none;
}

.attack {
    height: 350px;
    width: 360px;
    background: linear-gradient(-90deg, rgba(0,255,0, 0.7), rgba(255,0,0,0) 90.71%); border-top-right-radius: 80%; border-bottom-right-radius: 80%";
}

.damage {
    height: 350px;
    width: 350px;
    background: linear-gradient(-90deg, rgba(255,0,0,0), rgba(255,0,0,.3) 70.71%);
}

#playerOneHealth,
#playerTwoHealth {
    color: green;
}

.playerSpace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    height: 75px;
    width: 125px;
    background-color: red;
    border: solid 5px grey;
    border-radius: 0.5rem;
    color: white;
    font-weight: 600;
    font-size: 24px;

}

#restartbtn {
    position:static;
    top: auto; left: auto;
    /* this overrides js */
    display: none;
}

#characterSelectionOne {
    width: 15em;
    top: 10em;
    right: 30em;
    display: flex;
    /* background-color: white; */
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    height: 100%; /* Set the height to 100% for vertical alignment */
}
#characterSelectionTwo {
    width: 15em;
    top: 10em;
    left: 30em;
    display: flex;
    /* background-color: white; */
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    height: 100%; /* Set the height to 100% for vertical alignment */
}

#characterSelectionOne div {
    width: 100px; /* Set the width to create a square shape */
    height: 100px; /* Set the height to create a square shape */
    line-height: 150px; /* Center the image vertically */
    /* border: 2px solid black;  */
    /* Add a border to create the square shape */
}

#characterSelectionTwo div img {
    max-width: 100%;
    max-height: 100%;
    /* transform: scale(1.5); */
}
#characterSelectionTwo div {
    width: 100px; /* Set the width to create a square shape */
    height: 100px; /* Set the height to create a square shape */
    line-height: 150px; /* Center the image vertically */
    /* border: 2px solid black;  */
    /* Add a border to create the square shape */
}

#characterSelectionOne div img {
    max-width: 100%;
    max-height: 100%;
    /* transform: scale(1.5); */
}

